.board {
    display: grid;
    grid-template-columns: repeat(100, 12px);
    width: max-content;
    overflow: auto;
    max-height: 100vh;
    scrollbar-width: thin;
}

.board.default {
    --ant-color: var(--p1-ant-color);
    --w-color: var(--p1-w-color);
    --b-color: var(--p1-b-color);
    --r-color: var(--p1-r-color);
    --g-color: var(--p1-g-color);
    scrollbar-color: var(--p1-b-color)  var(--p1-w-color);
}

.cell {
    width: 12px;
    height: 12px;
}

.cell.W {
    background-color: var(--w-color);
}

.cell.B {
    background-color: var(--b-color);
}

.cell.R {
    background-color: var(--r-color);
}

.cell.G {
    background-color: var(--g-color);
}

.cell .ant {
    width: 100%;
    height: 100%;
    background-color: var(--ant-color);
}

.ant.hidden {
    visibility: hidden;
}