.board {
    display: grid;
    grid-template-columns: repeat(100, 12px);
    width: max-content;
    overflow: auto;
    max-height: 100vh;
    scrollbar-width: thin;
}

.cell {
    width: 12px;
    height: 12px;
}

.cell.W {
    background-color: white;
    background-color: #F9DBBB;
}

.cell.B {
    background-color: black;
    background-color: #2E3840;
}

.cell.R {
    background-color: blue;
    background-color: #708A58;
}

.cell.G {
    background-color: green;
    background-color: #4E6E81;
}

.cell .ant {
    width: 100%;
    height: 100%;
    background-color: red;
}

.ant.hidden {
    visibility: hidden;
}