.board {
    display: grid;
    grid-template-columns: repeat(100, 12px);
    width: max-content;
    overflow: auto;
    max-height: 100vh;
    scrollbar-width: thin;
}

.board.paletteOne {
    --ant-color: var(--p1-ant-color);
    --w-color: var(--p1-w-color);
    --b-color: var(--p1-b-color);
    --r-color: var(--p1-r-color);
    --g-color: var(--p1-g-color);
    scrollbar-color: var(--p1-b-color)  var(--p1-w-color);
}

.board.paletteTwo {
    --ant-color: var(--p2-ant-color);
    --w-color: var(--p2-w-color);
    --b-color: var(--p2-b-color);
    --r-color: var(--p2-r-color);
    --g-color: var(--p2-g-color);
    scrollbar-color: var(--p2-b-color)  var(--p2-w-color);
}

.board.paletteThree {
    --ant-color: var(--p3-ant-color);
    --w-color: var(--p3-w-color);
    --b-color: var(--p3-b-color);
    --r-color: var(--p3-r-color);
    --g-color: var(--p3-g-color);
    scrollbar-color: var(--p3-b-color)  var(--p3-w-color);
}

.board.paletteFour {
    --ant-color: var(--p4-ant-color);
    --w-color: var(--p4-w-color);
    --b-color: var(--p4-b-color);
    --r-color: var(--p4-r-color);
    --g-color: var(--p4-g-color);
    scrollbar-color: var(--p4-b-color)  var(--p4-w-color);
}

.board.paletteFive {
    --ant-color: var(--p5-ant-color);
    --w-color: var(--p5-w-color);
    --b-color: var(--p5-b-color);
    --r-color: var(--p5-r-color);
    --g-color: var(--p5-g-color);
    scrollbar-color: var(--p5-b-color)  var(--p5-w-color);
}

.board.paletteSix {
    --ant-color: var(--p6-ant-color);
    --w-color: var(--p6-w-color);
    --b-color: var(--p6-b-color);
    --r-color: var(--p6-r-color);
    --g-color: var(--p6-g-color);
    scrollbar-color: var(--p6-b-color)  var(--p6-w-color);
}

.board.paletteSeven {
    --ant-color: var(--p7-ant-color);
    --w-color: var(--p7-w-color);
    --b-color: var(--p7-b-color);
    --r-color: var(--p7-r-color);
    --g-color: var(--p7-g-color);
    scrollbar-color: var(--p7-b-color)  var(--p7-w-color);
}

.board.paletteEight {
    --ant-color: var(--p8-ant-color);
    --w-color: var(--p8-w-color);
    --b-color: var(--p8-b-color);
    --r-color: var(--p8-r-color);
    --g-color: var(--p8-g-color);
    scrollbar-color: var(--p8-b-color)  var(--p8-w-color);
}

.board.paletteNine {
    --ant-color: var(--p9-ant-color);
    --w-color: var(--p9-w-color);
    --b-color: var(--p9-b-color);
    --r-color: var(--p9-r-color);
    --g-color: var(--p9-g-color);
    scrollbar-color: var(--p9-b-color)  var(--p9-w-color);
}

.board.paletteTen {
    --ant-color: var(--p10-ant-color);
    --w-color: var(--p10-w-color);
    --b-color: var(--p10-b-color);
    --r-color: var(--p10-r-color);
    --g-color: var(--p10-g-color);
    scrollbar-color: var(--p10-b-color)  var(--p10-w-color);
}

.board.paletteEleven {
    --ant-color: var(--p11-ant-color);
    --w-color: var(--p11-w-color);
    --b-color: var(--p11-b-color);
    --r-color: var(--p11-r-color);
    --g-color: var(--p11-g-color);
    scrollbar-color: var(--p11-b-color)  var(--p11-w-color);
}

.board.paletteTwelve {
    --ant-color: var(--p12-ant-color);
    --w-color: var(--p12-w-color);
    --b-color: var(--p12-b-color);
    --r-color: var(--p12-r-color);
    --g-color: var(--p12-g-color);
    scrollbar-color: var(--p12-b-color)  var(--p12-w-color);
}

.board.palette13 {
    --ant-color: var(--p13-ant-color);
    --w-color: var(--p13-w-color);
    --b-color: var(--p13-b-color);
    --r-color: var(--p13-r-color);
    --g-color: var(--p13-g-color);
    scrollbar-color: var(--p13-b-color)  var(--p13-w-color);
}

.cell {
    width: 12px;
    height: 12px;
}

.cell.W {
    background-color: var(--w-color);
}

.cell.B {
    background-color: var(--b-color);
}

.cell.R {
    background-color: var(--r-color);
}

.cell.G {
    background-color: var(--g-color);
}

.cell .ant {
    width: 100%;
    height: 100%;
    background-color: var(--ant-color);
}

.ant.hidden {
    visibility: hidden;
}