* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

div#root {
    width: 100%;
    min-height: 100vh;
}

/* .turing-machine {
    width: 100%;
    height: 100vh;
} */

.board-wrapper {
    display: flex;
    justify-content: center;
    background-color: aqua;
}