* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

div#root {
    width: 100%;
    min-height: 100vh;
}

.turing-machine {
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

.board-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.options {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    gap: 1rem;
}

.options button {
    width: clamp(25px, 15px + 1vw, 30px);
    display: flex;
    background: none;
    border: none;
}