@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "roboto", sans-serif;
    --light-metallic: #AFB0B3;
    --dark-metallic: #838487;
    --blue-light-color: #26F7FD;
    --orange-light-color: #FDAA48;
    --p1-ant-color: #ff0000;
    --p1-w-color: #F9DBBB;
    --p1-b-color: #2E3840;
    --p1-r-color: #708A58;
    --p1-g-color: #4E6E81;
    --p2-ant-color: #ff0000;
    --p2-w-color: #FFF1CA;
    --p2-b-color: #2D4F2B;
    --p2-r-color: #708A58;
    --p2-g-color: #FFB823;
    --p3-ant-color: #FFB823;
    --p3-w-color: #000000;
    --p3-b-color: #F15412;
    --p3-r-color: #EEEEEE;
    --p3-g-color: #34B3F1;
    --p4-ant-color: #FFB823;
    --p4-w-color: #EEEEEE;
    --p4-b-color: #000000;
    --p4-r-color: #F15412;
    --p4-g-color: #34B3F1;
    --p5-ant-color: #008000;
    --p5-w-color: #000000;
    --p5-b-color: #FF0000;
    --p5-r-color: #3D0000;
    --p5-g-color: #950101;
    --p6-ant-color: #008000;
    --p6-w-color: #000000;
    --p6-b-color: #FFAC41;
    --p6-r-color: #FF1E56;
    --p6-g-color: #323232;
    --p7-ant-color: #FF0000;
    --p7-w-color: #F7BEFF;
    --p7-b-color: #400082;
    --p7-r-color: #7E0CF5;
    --p7-g-color: #CD4DCC;
    --p8-ant-color: #FF0000;
    --p8-w-color: #000000;
    --p8-b-color: #169976;
    --p8-r-color: #222222;
    --p8-g-color: #1DCD9F;
    --p9-ant-color: #FF0000;
    --p9-w-color: #FBE4D6;
    --p9-b-color: #0C0950;
    --p9-r-color: #261FB3;
    --p9-g-color: #161179;
    --p10-ant-color: #FF0000;
    --p10-w-color: #FFEB00;
    --p10-b-color: #000957;
    --p10-r-color: #344CB7;
    --p10-g-color: #577BC1;
    --p11-ant-color: #008000;
    --p11-w-color: #FEF3E2;
    --p11-b-color: #DD0303;
    --p11-r-color: #FAB12F;
    --p11-g-color: #FA812F;
    --p12-ant-color: #008000;
    --p12-w-color: #102E50;
    --p12-b-color: #BE3D2A;
    --p12-r-color: #F5C45E;
    --p12-g-color: #E78B48;
    --p13-ant-color: #FF0000;
    --p13-w-color: #FFD5D5;
    --p13-b-color: #3A6F43;
    --p13-r-color: #59AC77;
    --p13-g-color: #FDAAAA;
    --p14-ant-color: #000000;
    --p14-w-color: #F4E9D7;
    --p14-b-color: #D97D55;
    --p14-r-color: #B8C4A4;
    --p14-g-color: #6FA4AF;
    --p15-ant-color: #008000;
    --p15-w-color: #191919;
    --p15-b-color: #BED754;
    --p15-r-color: #750E21;
    --p15-g-color: #E3651D;
    --p16-ant-color: #000000;
    --p16-w-color: #5F939A;
    --p16-b-color: #F2EDD7;
    --p16-r-color: #3A6351;
    --p16-g-color: #A0937D;
    --blue-light-filter: 
    brightness(0) 
    saturate(100%) 
    invert(83%) 
    sepia(40%) 
    saturate(1886%) 
    hue-rotate(140deg) 
    brightness(103%) 
    contrast(98%);
    --orange-light-filter: 
    brightness(0) 
    saturate(100%) 
    invert(78%) 
    sepia(16%) 
    saturate(2227%) 
    hue-rotate(329deg) 
    brightness(102%) 
    contrast(98%);
}

div#root {
    width: 100%;
    min-height: 100vh;
}

.turing-machine {
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

.board-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tan;
    background-image: linear-gradient(#d2b48c, 50%, #c89f76);
}

.options {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    gap: 1rem;
}

button {
    display: flex;
    align-items: center;
    font-family: "roboto";
    background-image: linear-gradient(var(--light-metallic), 70%, var(--dark-metallic) 120%);
    border: none;
    cursor: pointer;
    padding: .5rem;
    border-radius: 10px;
    --filter: var(--blue-light-filter);
    --font-color: var(--blue-light-color);
    box-shadow: 0px 4px 10px -1px black;
    transition: transform .1s linear;
}

button img {
    /* width: clamp(20px, 15px + 1vw, 25px); */
    width: 25px;
    filter: var(--filter);
    transform: var(--transform);
}

button:hover {
    --filter: var(--orange-light-filter);
    transform: scale(1.1);
    --font-color: var(--orange-light-color);
}

button.settings:hover img {
    animation-name: rotate;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

button:active {
    box-shadow: 0px 4px 10px -1px inset black;
}

.speed::before {
    display: inline-block;
    margin-right: .2rem;
    font-weight: bold;
    font-size: 1rem;
    color: var(--font-color);
}

.speed.stop::before {
    content: "0x";
}

.speed.one::before {
    content: "1x";
}

.speed.two::before {
    content: "2x";
}

.speed.five::before {
    content: "5x";
}

.speed.max::before {
    content: "500x";
}

.options-modal {
    width: fit-content;
    position: fixed;
    top: 20%;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: var(--dark-metallic);
    background-image: linear-gradient(var(--light-metallic), var(--dark-metallic));
    padding: 1rem;
    box-shadow: 0px 5px 10px 0px black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.options-modal.hidden {
    visibility: hidden;
}

.options-modal button {
    color: var(--blue-light-color);
    font-weight: bold;
    font-size: 1rem;
}

.options-modal button:hover, .options-modal button:active {
    color: var(--orange-light-color);
}

.exit-wrapper {
    display: flex;
    justify-content: end;
    width: 100%;
}

.exit-btn img {
    width: 20px;
}

.new-ant-wrapper {
    display: flex;
    gap: 1rem;
}

select {
    background-color: var(--light-metallic);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    border-radius: 10px;
    background-image: linear-gradient(var(--light-metallic), 70%, var(--dark-metallic) 120%);
    box-shadow: 0px 4px 5px -1px black;
    cursor: pointer;
}

.current-ants {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    align-items: center;
    height: 155px;
    overflow: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: var(--blue-light-color) rgb(0, 0, 0, 0);
    scrollbar-gutter: stable;
}

.ant-card {
    display: flex;
    width: 70%;
    align-items: center;
}

.ant-card p {
    flex: 1;
    font-weight: bold;
}

.ant-card button {
    padding: 0;
    box-shadow: none;
    background: none;
}

@keyframes rotate {
    0% {transform: rotate(0);}
    100% {transform: rotate(30deg);}
}