* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    --light-metallic: #AFB0B3;
    --dark-metallic: #838487;
    --blue-light-color: #26F7FD;
    --orange-light-color: #FDAA48;
    --p1-ant-color: #ff0000;
    --p1-w-color: #F9DBBB;
    --p1-b-color: #2E3840;
    --p1-r-color: #708A58;
    --p1-g-color: #4E6E81;
    --p2-ant-color: #ff0000;
    --p2-w-color: #FFF1CA;
    --p2-b-color: #2D4F2B;
    --p2-r-color: #708A58;
    --p2-g-color: #FFB823;
    --p3-ant-color: #FFB823;
    --p3-w-color: #000000;
    --p3-b-color: #F15412;
    --p3-r-color: #EEEEEE;
    --p3-g-color: #34B3F1;
    --p4-ant-color: #FFB823;
    --p4-w-color: #EEEEEE;
    --p4-b-color: #000000;
    --p4-r-color: #F15412;
    --p4-g-color: #34B3F1;
    --p5-ant-color: #008000;
    --p5-w-color: #000000;
    --p5-b-color: #FF0000;
    --p5-r-color: #3D0000;
    --p5-g-color: #950101;
    --p6-ant-color: #008000;
    --p6-w-color: #000000;
    --p6-b-color: #FFAC41;
    --p6-r-color: #FF1E56;
    --p6-g-color: #323232;
    --p7-ant-color: #FF0000;
    --p7-w-color: #F7BEFF;
    --p7-b-color: #400082;
    --p7-r-color: #7E0CF5;
    --p7-g-color: #CD4DCC;
    --blue-light-filter: 
    brightness(0) 
    saturate(100%) 
    invert(83%) 
    sepia(40%) 
    saturate(1886%) 
    hue-rotate(140deg) 
    brightness(103%) 
    contrast(98%);
    --orange-light-filter: 
    brightness(0) 
    saturate(100%) 
    invert(78%) 
    sepia(16%) 
    saturate(2227%) 
    hue-rotate(329deg) 
    brightness(102%) 
    contrast(98%);
}

div#root {
    width: 100%;
    min-height: 100vh;
}

.turing-machine {
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

.board-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tan;
}

.options {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    gap: 1rem;
}

.options button {
    display: flex;
    align-items: center;
    background-image: linear-gradient(var(--light-metallic), 70%, var(--dark-metallic) 120%);
    border: none;
    cursor: pointer;
    padding: .5rem;
    border-radius: 10px;
    --filter: var(--blue-light-filter);
    --font-color: var(--blue-light-color);
    box-shadow: 0px 4px 10px -1px black;
    transition: transform .1s linear;
}

.options button img {
    /* width: clamp(20px, 15px + 1vw, 25px); */
    width: 25px;
    filter: var(--filter);
    transform: var(--transform);
}

.options button:hover {
    --filter: var(--orange-light-filter);
    transform: scale(1.1);
    --font-color: var(--orange-light-color);
}

button.settings:hover img {
    animation-name: rotate;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.options button:active {
    box-shadow: 0px 4px 10px -1px inset black;
}

.speed::before {
    display: inline-block;
    margin-right: .2rem;
    font-weight: bold;
    font-size: 1rem;
    color: var(--font-color);
}

.speed.stop::before {
    content: "0x";
}

.speed.one::before {
    content: "1x";
}

.speed.two::before {
    content: "2x";
}

.speed.five::before {
    content: "5x";
}

.speed.max::before {
    content: "500x";
}

@keyframes rotate {
    0% {transform: rotate(0);}
    100% {transform: rotate(30deg);}
}